name: chroma_kit
description: A professional toolkit for dynamic color manipulation, pastel blending (faint), and accessibility contrast for Flutter.
version: 1.0.1
repository: https://github.com/Satyam-Gawali/chroma_kit

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true